
.top-f{
  width: 100%;
  height: 50px;
  background-color: grey;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.down-f
{
  flex: 12;
  width: 100%;
  height: 50px;
  background-color: grey;
  color: white;
  top: 0;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.down-f-item
{
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
}


.topLeft-f {
  flex: 6;
  align-items: center;
  justify-content: left;
  display: flex;
  /* flex-direction: column; */
}

.topCenter-f {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}



.topList-f {
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem-f {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.link-footer
{
  color: white;
  text-decoration: none;
}




